@font-face {
	font-family: "Century Schoolbook";
	src: url("./assets/fonts/SCHLBKBI.TTF");
	font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("./assets/fonts/SCHLBKI.TTF");
	font-style: italic, oblique;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("./assets/fonts/SCHLBKB.TTF");
	font-weight: bold;
}
@font-face {
	font-family: "Century Schoolbook";
	src: url("./assets/fonts/CENSCBK.TTF");
}

* {
	font-family: "Century Schoolbook";
}